/*************************/
/**                     **/
/**      CSS RESET      **/
/**                     **/
/*************************/
* {
	letter-spacing: 0.1em;
	font-family: 'Dosis', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.6em;
	text-align: center;
}

/*************************/
/**                     **/
/**       Nav Bar       **/
/**                     **/
/*************************/

nav.navbar a.navbar-brand, 
div#top-nav div a {
	text-transform: uppercase;
}


/*************************/
/**                     **/
/**        Wrapper      **/
/**                     **/
/*************************/

main#maingrid-wrapper {
	border: 1px solid black;
}

/*************************/
/**                     **/
/**      Sections       **/
/**                     **/
/*************************/

section#main-section,
section#portfolio-section,
section#skills-section,
section#about-section {
	margin-top: 60px;
	margin-bottom: -60px;
	min-height: 100vh;
	border: 1px solid red;
	padding-top: 60px;
}

section#about-section {
	margin-bottom: 0;
}

/*************************/
/**                     **/
/**    Main Section     **/
/**                     **/
/*************************/

section#main-section img {
	width: 20%;
}

/*************************/
/**                     **/
/**      Portfolio      **/
/**                     **/
/*************************/
div#portfolio-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


/*************************/
/**                     **/
/**   Skills-section    **/
/**                     **/
/*************************/

div#skills-sect {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

canvas#skills-chart,
canvas#backend-chart {
	max-width: 50vw;
}


/*************************/
/**                     **/
/**    About-section    **/
/**                     **/
/*************************/


div#about-sect {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
