* {
	padding: 0;
	margin: 0;
}

#main-section {
	background-color: #55B358;
}

#portfolio-section {
	background-color: #86D850;	
}

#skills-section {
	background-color: #79A55C;
}

#about-section {
	background-color: #62CE1A;
}